.footer {
  background-color: #000000;
}
.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;
}
.footer-container h3{
  grid-column: 1/-1;
  text-align: center;
  font-size: 3rem;
  background-image: linear-gradient(#ed5636,#633bbc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.footer-texto {
  padding: 30px;
  font-size: 1.5rem;
  line-height: 1.33;
  color: #cccccc;
}
.footer-contato {
  display: flex;
  gap: 60px;
  
 }

.footer-copy {
  text-align: center;
  grid-column: 1/-1;
  font-size: 1.125rem;
  color: #8f8f8f;
}
.footer-contato .footer-link{
  height: 6.5rem;
  width: 2.5rem;
  color: aliceblue;
  font-size: 2rem;
  
}
#email{
  background-color: #0077B5;
  padding: 1rem;
  border-radius: 0.575rem;
}
#linkedin{
  background-color: #0077B5;
  padding: 1rem;
  border-radius: 0.575rem;
}
#whats{
  background-color: #25D366;
  padding: 1rem ;
  border-radius: 0.575rem;
}

/* Media Queries para smartphones e tablets */
@media screen and (max-width: 767px) and (max-width:1080px) {
  .footer-container {
    grid-template-columns: 1fr;
  }

  .footer-texto {
    font-size: 1.25rem;
  }

  .footer-contato {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 6rem;
  }
}

/* Media Queries para smartphones */
@media screen and (max-width: 479px) {
  .footer-container {
    padding: 8rem 1rem 4rem 1rem;
  }

  .footer-texto {
    font-size: 1.25rem;
    padding: 2rem;
  }

  .footer-contato {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-copy {
    font-size: 1rem;
  }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer-container {
    padding: 10rem 1rem 5rem 1rem;
  }

  .footer-texto {
    font-size: 1.5rem;
    padding: 3rem;
  }

  .footer-contato {
    flex-direction: column;
    gap: 4rem;
  }

  .footer-copy {
    font-size: 1.125rem;
  }
}
