.formacao {
  background-color:#1b1b21;
  color: #ffffff;
}
.formacao-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
 
}


.formacao-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  margin-bottom: 60px;
  max-width: 40ch;
  color: #a3a3a3;
}

.faculdade-lista {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 60px;
}
.faculdade {
  flex: 1;
  background-color: black;
  padding: 20px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
}
.faculdade-tipo {
  font-size: 0.875rem;
  text-transform: uppercase;
  color: #a3a3a3;
  margin-bottom: 10px;
}
.faculdade-curso {
  flex: 1;
  font-size: 1.125rem;
  line-height: 1.4;
  margin-bottom: 40px;
  position: relative;
  
}
.faculdade-curso::before {
  content: "";
  display: block;
  width: 4px;
  height: 20px;
  background: linear-gradient(#ed5636, #633bbc);
  position: absolute;
  left: -24px;
}
.faculdade-instituicao{
  font-size: 1.125rem;
  color: #a3a3a3;
}
.Idiomas{
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 10px 5px;
}

.cursos{
  margin-bottom: 60px;
  background-color: rgba(0, 0, 0, 0.63);
  padding: 10px 5px;
}
 .formacao-extra h3{
  font-size: 0.875rem;
  line-height: 1.4;
  color: #8f8f8f;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
  
 }
 .formacao-extra h3::before{
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: -34px;
  background: url(../img/cursos.svg)no-repeat center center;
 }
 .cursos h3::before{
  background: url(../img/cursos.svg)no-repeat center center;
 }
 .Idiomas h3::before{
  background: url(../img/idiomas.svg)no-repeat center center;
 }
 .formacao-extra li{
  font-size: 1.124rem;
  line-height: 1.1;
  margin-bottom: 20px;
 }
 .formacao-extra span{
  color: #8f8f8f;
 }
 .cursos li {
  display: flex;
  justify-content: space-between;
 }



 /* Media queries */

 @media screen and (max-width: 767px)  {
  .formacao-container {
    grid-template-columns: 1fr;
  }

  .formacao-texto {
    font-size: 1.25rem;
    max-width: unset;
  }

  .faculdade-curso::before {
    left: -20px;
  }

  .faculdade-curso {
    margin-bottom: 30px;
  }

  .formacao-extra h3 {
    font-size: 0.75rem;
    margin-bottom: 20px;
  }

  .formacao-extra h3::before {
    width: 1rem;
    height: 1rem;
    left: -24px;
  }

  .formacao-extra li {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .Idiomas{
    font-size: 1rem;
  }
}

/* Outras medidas de aparelhos */
@media screen and (min-width: 1080px) and (max-width: 768px) {
  .formacao-container {
    grid-template-columns: 1fr;
  }
  .formacao-texto {
    font-size: 1.375rem;
    max-width: unset;
  }

  .faculdade-curso::before {
    left: -30px;
  }

  .formacao-extra h3 {
    font-size: 0.875rem;
    margin-bottom: 30px;
  }

  .formacao-extra h3::before {
    width: 1.25rem;
    height: 1.25rem;
    left: -34px;
  }

  .formacao-extra li {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
  }
  .Idiomas{
    font-size: 1.125rem;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .formacao-container {
    grid-template-columns: 1fr;
  }
  .formacao-texto {
    font-size: 1.5rem;
    max-width: 40ch;
  }

  .faculdade-curso::before {
    left: -40px;
  }

  .formacao-extra h3 {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .formacao-extra h3::before {
    width: 1.5rem;
    height: 1.5rem;
    left: -44px;
  }

  .formacao-extra li {
    font-size: 1.25rem;
    margin-bottom: 2rem;
  }
  .Idiomas{
    font-size: 1.25rem;
  }
}

/* Medidas para smartphones */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .formacao-container {
    grid-template-columns: 1fr;
  }
  .formacao-texto {
    font-size: 1.125rem;
    max-width: unset;
  }

  .faculdade-curso::before {
    left: -16px;
  }

  .formacao-extra h3 {
    font-size: 0.625rem;
    margin-bottom: 16px;
  }

  .formacao-extra h3::before {
    width: 0.75rem;
    height: 0.75rem;
    left: -20px;
  }

  .formacao-extra li {
    font-size: 0.875rem;
    margin-bottom: 0.875rem;
  }
  .Idiomas{
    font-size: 0.875rem;
  }
}
