body {
  background-color: #eaeaea;
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0px;
  color: black;
}
h1,
h2,
h3,
p {
  margin: 0px;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
.line {
  max-width: 900px;
  padding: 1px;
  background-image: linear-gradient(to bottom right, #ed5636, #633bbc);
}

.subtitulo {
  
  font-size: 5rem;
  line-height: 1;
  justify-self: center;
  /* align-self: center; */
  background-image: linear-gradient(to bottom right, #ed5636, #633bbc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}




/* Para navegadores baseados em WebKit */
::-webkit-scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Cor do fundo da trilha */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Cor do botão de rolagem */
}

::-webkit-scrollbar-thumb:hover {
  background: #555; /* Cor do botão de rolagem ao passar o mouse */
}
/* Mobile */
@media only screen and (max-width: 767px) {
  .subtitulo {
    font-size: 3.5rem;
  }
}

/* .hard-skills {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;
  align-items: center;}
  .hard-skills-lista{
    grid-column: 2fr;
  }
  .hard-skills h2{
    grid-column: 1/-1;
  margin-left: 6rem;
  font-size: 3rem;
  background-image: linear-gradient(#ed5636, #633bbc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  } */



/* Estilo para a nova seção de habilidades ("hard skills") */
/* .hard-skills {
  background-color: #f2f2f2;
  padding: 60px 20px;
}

.hard-skills-title {
  font-size: 2rem;
  margin-bottom: 40px;
}

.hard-skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hard-skills-item {
  background-color: #ffffff;
  border-radius: 4px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 1rem;
}

/* Media Queries */
@media screen and (max-width: 767px) {
  .hard-skills-item {
    font-size: 0.875rem;
    padding: 8px 16px;
    margin: 8px;
  }
} */




















/* Para navegadores Firefox */
scrollbar {
  width: 10px; /* Largura da barra de rolagem */
}

scrollbar-track {
  background: #888; /* Cor do fundo da trilha */
}

scrollbar-thumb {
  background: #888; /* Cor do botão de rolagem */
}

scrollbar-thumb:hover {
  background: #555; /* Cor do botão de rolagem ao passar o mouse */
}

/* Mobile */
@media only screen and (max-width: 480px) {
  .subtitulo {
    font-size: 3rem;
  }
  body{
    font-size: 1.40rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .subtitulo {
    font-size: 3rem;
  }
  body{
    font-size: 1.40rem;
  }
}
@media (min-width: 1080px) and (max-width: 1023px) {
  .subtitulo {
    font-size: 3rem;
  }
  body{
    font-size: 1.40rem;
  }
}


